src/flows/Area_Clienti_da_Nazionalit-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Check Africa</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Check Japan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_pmetdec</targetReference>
            </connector>
            <label>Check Middle East</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_pmetdec</targetReference>
            </connector>
            <label>Check North America</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_pmetdec</targetReference>
            </connector>
            <label>Check South America</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Check Asia Pacific</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Check East Europe</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Check Europe</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>Check India</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_11_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_13_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_13_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_13_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_15_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_15_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_15_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_17_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_17_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_17_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ER&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ET&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ML&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ST&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;YT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ZA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ZM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ZW&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BJ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BV&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CD&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CV&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;DJ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;DZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;EG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;EH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ER&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ET&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GQ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ML&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;RE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;RW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SD&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ST&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TD&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;UG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;YT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ZA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ZM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ZW&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Account].Nazionalita__c, &apos;JP&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;JP&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Account].Nazionalita__c, &apos;JP&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;JP&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;JO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;OM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;QA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;YE&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IQ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;JO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LB&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;OM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;QA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TJ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;UZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;YE&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;JO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;OM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;QA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;YE&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IQ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;JO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LB&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;OM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;QA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TJ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;UZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;YE&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;BM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;US&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;UM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;US&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;BM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;US&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;UM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;US&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;JM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MX&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VI&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AQ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BB&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;DM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;DO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;EC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;FK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GD&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GP&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;HN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;HT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;JM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MQ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MX&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SV&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;UY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;VC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;VE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;VG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;VI&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;JM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MX&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VI&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AQ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BB&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;DM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;DO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;EC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;FK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GD&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GP&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;HN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;HT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;JM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MQ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MX&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SV&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;UY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;VC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;VE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;VG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;VI&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ER&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ET&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GQ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ML&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ST&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;YT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ZA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ZM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ZW&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BJ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BV&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CD&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CV&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;DJ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;DZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;EG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;EH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ER&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ET&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GQ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ML&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;RE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;RW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SD&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ST&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TD&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;UG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;YT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ZA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ZM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ZW&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CX&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ID&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;WF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;WS&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CX&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;FJ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;FM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;HK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;HM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ID&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KP&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;KR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MP&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NP&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SB&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TV&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;TW&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;VN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;VU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;WF&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;WS&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CX&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ID&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;KR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NP&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;TW&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;WF&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;WS&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CX&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;FJ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;FM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;HK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;HM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ID&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KP&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;KR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MP&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NP&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SB&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TV&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;TW&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;VN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;VU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;WF&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;WS&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ME&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UA&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BA&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CZ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;EE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;HR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LV&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MD&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ME&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;RO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;RS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;RU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;UA&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BA&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CZ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;EE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LV&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ME&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;RU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UA&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BA&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CZ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;EE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;HR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LV&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MD&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ME&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;RO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;RS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;RU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;UA&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AX&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ES&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;JE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VA&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AD&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;AX&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CH&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;CY&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;DE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;DK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;ES&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;FI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;FO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;FR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GB&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GG&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;GR&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;HU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IS&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;JE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LI&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LU&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MC&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NL&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;NO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;PT&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SE&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SJ&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;SM&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;UK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;VA&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;AD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;AX&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;BE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CH&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;CY&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;DK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;ES&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;FR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GB&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GG&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;GR&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;HU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IS&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;JE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LI&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LU&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MC&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NL&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;NO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;PT&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SE&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SJ&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;SM&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;UK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;VA&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AD&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;AX&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CH&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;CY&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;DE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;DK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;ES&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;FI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;FO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;FR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GB&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GG&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;GR&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;HU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IS&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;JE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LI&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LU&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MC&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NL&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;NO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;PT&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SE&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SJ&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;SM&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;UK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;VA&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;BD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MV&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;BD&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IN&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;IO&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;LK&apos;),
ISPICKVAL({!myVariable_current.Nazionalita__c}, &apos;MV&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISPICKVAL([Account].Nazionalita__c, &apos;BD&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IN&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;IO&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;LK&apos;),
ISPICKVAL([Account].Nazionalita__c, &apos;MV&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;BD&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IN&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;IO&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;LK&apos;),
ISPICKVAL({!myVariable_old.Nazionalita__c}, &apos;MV&apos;)
)</expression>
    </formulas>
    <interviewLabel>Area_Clienti_da_Nazionalit-8_InterviewLabel</interviewLabel>
    <label>Area Clienti da Nazionalit</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>JAPAN in Area Cliente</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>JAPAN</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>MIDDLE EAST in Area Cliente</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>MIDDLE EAST</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>NORTH AMERICA in Area Cliente</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>NORTH AMERICA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>SOUTH AMERICA in Area Cliente</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>SOUTH AMERICA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>AFRICA in Area Cliente</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>AFRICA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>ASIA PACIFIC in Area Cliente</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>ASIA PACIFIC</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>EAST EUROPE in Area Cliente</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>EAST EUROPE</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>EUROPE in Area Cliente</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>EUROPE</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>INDIA in Area Cliente</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Area Cliente.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Area_Cliente_txt__c</field>
            <value>
                <stringValue>INDIA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
