src/flows/Invio_notifica_prodotto_online_Notify_Me-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Invio_notifica_prodotto_online_Notify_Me-2 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke Invio_notifica_prodotto_online_Notify_Me-2, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>massimiliano.dellaporta@brunellocucinelli.it</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Invio_notifica_prodotto_online_Notify_Me-2 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke Invio_notifica_prodotto_online_Notify_Me-2, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>massimiliano.dellaporta@brunellocucinelli.it</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_IT_CN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Email it_CN</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_IT_CN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_IT</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Email it</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_IT</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_EN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Email en</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_EN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_ES</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Email es</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_ES</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_FR</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>email fr</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_FR</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_EN_US</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email en_US</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_EN_US</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_DE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Email de</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_DE</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_RU</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Email ru</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_RU</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_JA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Email ja</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_JA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_ZH</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Email zh</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_ZH</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_IT_US</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email it_US</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_IT_US</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_ES_US</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Email es_US</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_ES_US</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_ZH_CN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email zh_CN</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_ZH_CN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Me_Product_back_online_EN_CN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Email en_CN</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Notify_Me_Product_back_online_EN_CN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is nation US language EN?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Is nation CN language IT?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Is language IT?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Is language EN?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Is language ES?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Is language FR?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Is nation US language IT?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Is language DE?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>Is language RU?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Is language JA?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Is language ZH?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Is nation US language ES?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Is nation CN language ZH?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Is nation CN language EN?</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Invio notifica al cliente quando il prodotto torna online</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c = &quot;US&quot; ,
[Case].Lingua_di_Preferenza_input__c = &quot;en&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} = &quot;US&quot; ,
{!SObject.Lingua_di_Preferenza_input__c} = &quot;en&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c = &quot;CN&quot; ,
[Case].Lingua_di_Preferenza_input__c = &quot;it&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} = &quot;CN&quot; ,
{!SObject.Lingua_di_Preferenza_input__c} = &quot;it&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;it&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;it&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;en&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;en&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;es&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;es&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;fr&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;fr&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;de&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;de&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;ru&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;ru&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;ja&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;ja&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c &lt;&gt; &quot;CN&quot;, 
[Case].Nazione_input__c &lt;&gt; &quot;US&quot;, 
[Case].Lingua_di_Preferenza_input__c = &quot;zh&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} &lt;&gt; &quot;CN&quot;, 
{!SObject.Nazione_input__c} &lt;&gt; &quot;US&quot;, 
{!SObject.Lingua_di_Preferenza_input__c} = &quot;zh&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c = &quot;US&quot; ,
[Case].Lingua_di_Preferenza_input__c = &quot;it&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} = &quot;US&quot; ,
{!SObject.Lingua_di_Preferenza_input__c} = &quot;it&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c = &quot;US&quot; ,
[Case].Lingua_di_Preferenza_input__c = &quot;es&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} = &quot;US&quot; ,
{!SObject.Lingua_di_Preferenza_input__c} = &quot;es&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c = &quot;CN&quot; ,
[Case].Lingua_di_Preferenza_input__c = &quot;zh&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} = &quot;CN&quot; ,
{!SObject.Lingua_di_Preferenza_input__c} = &quot;zh&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.DeveloperName = &quot;Ticket_E_commerce_Notify_Me&quot;,
[Case].Nazione_input__c = &quot;CN&quot; ,
[Case].Lingua_di_Preferenza_input__c = &quot;en&quot; ,
[Case].Email_Cliente_input__c &lt;&gt;&quot;&quot; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SObject.RecordType.DeveloperName} = &quot;Ticket_E_commerce_Notify_Me&quot;,
{!SObject.Nazione_input__c} = &quot;CN&quot; ,
{!SObject.Lingua_di_Preferenza_input__c} = &quot;en&quot; ,
{!SObject.Email_Cliente_input__c} &lt;&gt;&quot;&quot; )</expression>
    </formulas>
    <interviewLabel>Invio_notifica_prodotto_online_Notify_Me-2_InterviewLabel</interviewLabel>
    <label>Invio notifica prodotto online Notify Me</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Lingua_di_Preferenza_input__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Nazione_input__c</queriedFields>
        <queriedFields>Email_Cliente_input__c</queriedFields>
    </recordLookups>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
